SoundFile
pyannote.audio
librosa
wordsegment
nltk
torch
huggingsound
transformers
appdirs
tensorflow
crepe
asgiref
Aspose.Slides
audioread
backcall
certifi
cffi
charset-normalizer
colorama
cycler
tqdm
debugpy
decorator
Django
djangorestframework
entrypoints
future
gunicorn
idna
importlib-metadata
ipykernel
django-cors-headers
ipython
jedi
joblib
jupyter-client
jupyter-core
kiwisolver
librosa
llvmlite
matplotlib
matplotlib-inline
nest-asyncio
numba
numpy
packaging
pandas
parso
pickleshare
pooch
praat-parselmouth
prompt-toolkit
psutil
pyaudio
pycparser
pydub
Pygments
pyloudnorm
pyparsing
python-dateutil
pytz
pywin32
pyzmq
requests
resampy
scikit-learn
scipy
six
sklearn
sqlparse
threadpoolctl
tornado
tqdm
traitlets
typing-extensions
urllib3
Wave
wcwidth
zipp

