.testHeading
{
    display: flex;
    /* border-radius: 5px; */
    /* background-color: rgba(168, 98, 189, 0.566); */
    width: 100%;
    height: 20%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.testHeadingText1
{
    font-size: 50px;
    font-weight: bolder;
    font-family: sans-serif;
}
.testHeadingText2
{
    margin-top: 20px;
    font-size: 25px;
    font-family: sans-serif;
}
.vidflexouter
{
    display: flex;
   
    justify-content: center;
}
.vidflex
{
    display: flex;
    margin-top: 4%;
    width: 70%;
    height: 70%;
    /* background-color:  rgba(168, 98, 189, 0.566); */
    flex-direction: column;
    justify-content: center;
    background: none;
    
}
.video1
{
    border: thin solid white;
}
.buttons
{
    display: flex;
    margin-top:1%;
}
.next, .stop, .start, .previous
{
    width:15%;
    height:100%;
    background-color: rgba(168, 98, 189, 0.566);
    border-radius: 5px;
    border: 0px;
    cursor:pointer;
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 15px;
    justify-content: center;
    align-items: center;

}
.stop, .next, .previous
{
    margin-left: 5px;
}
.next:hover, .stop:hover, .start:hover, .previous:hover{
    color: white;
    
}
.next:active, .stop:active, .start:active, .previous:active{
    color: white;   
}
.next_text, .previous_text
{
    font-size: 15px;
}
.stop_text, .start_text
{
    font-size:10px;
}